{{!-- 14.4.4 step ONE cut the comments div from the single-post view and paste them here --}}
{{!-- 14.4.4 step THREE use the keyword this to refer to the parent object
    data that's passed to a template file is technically always part of this, but when dealing with objects
    we can simply acces the object properties directly --}}
<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            {{user.username}} on {{created_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>